/* 1. Import the font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/* 2. Import Tailwind */
@import "tailwindcss";

/* 3. Map the font to a Tailwind utility */
@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

@theme {
  --color-coral-red: #ec5139;
  --color-soft-orange: #e75d2f;
  --color-peach-glow: #FB9E3A;
  --color-warm-yellow: #FCEF91;
}

* {
  box-sizing: border-box;
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 12s linear infinite;
}
@keyframes marquee-horizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-horizontal {
  animation: marquee-horizontal 25s linear infinite;
  width: max-content;
}
