/* 1. Import the font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

/* 2. Import Tailwind */
@import "tailwindcss";

/* 3. Map the font to a Tailwind utility */
@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}
@theme {
  --color-dark-orange: #dd571c;
  --color-lighter-orange: #fc6a03;
  --color-soft-orange: #ffa500;
  --color-warm-yellow: #ffd200;
}

* {
  box-sizing: border-box;
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
/* HOME MARQUEE */
@keyframes marquee-horizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-horizontal {
  animation: marquee-horizontal 30s linear infinite;
  width: max-content;
}

/* Hide scrollbar but allow manual scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* FOR APP PROMO BAR  */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}
/* FREE BUTTON ATTRACTIVE */
@keyframes shine {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}

/* SHINE IN BEST DEALS */
@keyframes yellow-glow-shine {
  0%,
  100% {
    filter: drop-shadow(0 0 2px #fff176) drop-shadow(0 0 10px #ffd600);
    transform: scale(1);
  }
  50% {
    filter: drop-shadow(0 0 10px #fff176) drop-shadow(0 0 20px #ffea00);
    transform: scale(1.15);
  }
}
